{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mehran</title>
    <link rel="stylesheet" href="{% static 'meetups/css/base.css' %}">
    <link rel="stylesheet" href="{% static 'meetups/css/all_meetup.css' %}">
</head>

<body>
    <header id="main-header">
        <nav id="main-logo">
            <a href="{% url 'home-page' %}">Django Meetups</a>
        </nav>
        <h1>we got great meetups coming up !</h1>
        <p>find the one that best suit your needs !</p>
    </header>
    <main>
        <section>
            <h2>Upcoming Meetups</h2>
            <ol>
                {% for meetup in meetups %}
                <li class="meetup-item">
                    <article>
                        <div class="meetup-summary">
                            <div class="meetup-image">
                                <img src="" alt="">
                            </div>
                            <div class="meetup-details">
                                <h3>{{ meetup.title }}</h3>
                                <address>{{ meetup.address }}</address>
                                <div></div>
                            </div> 
                        </div>
                        <div class="meetup-actions">
                            <a class="btn" href="">More Details</a>

                        </div>
                    </article>
                </li>
                {% endfor %}
            </ol>
        </section>
    </main>
    </body>

</html>